
//Khai báo biến
//bg 
$bg-dark: #000;

//text-color
$text-c1-primary: rgb(42, 115, 221);
$text-c1-dark: #000;
$text-c1-light: #fff;
$text-c1-red: red;


//text-size
$text-xs: 10px;
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;

//font-weight
$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-semibold: 600;
$text-bold: 700;

//width-height size
$wh-3: 30px;
$wh-5: 50px;
$wh-7: 70px;
$wh-5xxx: 150px;



